<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <body>


    <header>hello Header</header>
    <section class="main-content">
        <aside>I am Aside</aside>
        <main>
            <section class="flex">
                <div class="cards">card 1</div>
                <div class="cards"> card 2</div>
            </section>

            <section class="z-index">
                <div class="box1">box 1</div>
                <div class="box2">box 2</div>
            </section>

            <article>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non odit dolorum alias exercitationem
                accusantium consequatur minus molestiae quas deserunt nulla, praesentium totam nobis eos quod et aliquam
                numquam labore officiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempore accusamus in distinctio velit
                dicta sunt et fugiat accusantium ab sed dolores eum fugit unde dolor, quod error doloremque sit!

            </article>
        </main>
    </section>
    <footer>copyright &copy;</footer>
    
</body>
</body>
</html>